@import '../../styles/colors.scss';
.boxes {
	display: flex;
	flex-direction: column;
	margin: 24px 0 16px 0;

	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.column {
			margin: 0 16px;
			position: relative;
			padding: 4px 16px;
			display: flex;
			flex-direction: column;
			max-height: 300px;
			height: 300px;
			min-width: 280px;
			max-width: 300px;
			box-shadow: 2px 6px 11px gray;
			border-radius: 4px;
			.items {
				overflow-y: scroll;
				min-height: 200px;
			}
			.title {
				height: 24px;
				font-size: 16px;
				text-align: center;
				margin-bottom: 10px;
			}
		}

		.strength,
		.weakness {
			margin-bottom: 16px;
		}
	}
}

.strength {
	h2 {
		color: $strength;
	}
}
.weakness {
	h2 {
		color: $weakness;
	}
}
.opportunity {
	h2 {
		color: $opportunity;
	}
}
.threat {
	h2 {
		color: $threat;
	}
}

.item {
	// border-bottom: 1px solid black;
	margin: 8px 0;
	.text {
		padding-right: 6px;
	}
	hr {
		width: 50%;
		text-align: left;
	}
}

.new-form-component {
	position: absolute;
	top: 75%;
	width: 90%;

	button {
		margin: 0 auto;
	}
}
.form-component {
	display: flex;
	margin-top: 16px;
	margin: 0 auto;

	input {
		border: none;
		border-bottom: 2px solid black;
		outline: none;
		width: 75%;
		font-size: 16px;
	}
}
svg {
	margin: 0 4px;
	cursor: pointer;
}

.title > h2 {
	margin: 0;
}
