@import '../../styles/colors.scss';
.boxes {
	display: flex;
	flex-direction: column;
	margin: 24px 0;
	height: 95vh;

	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.column {
			margin: 0 16px;
			position: relative;
			padding: 4px 16px;
			display: flex;
			flex-direction: column;
			max-height: 320px;
			height: 320px;
			min-width: 285px;
			width: 285px;
			max-width: 285px;
			box-shadow: 2px 6px 11px gray;
			border-radius: 4px;
			.items {
				overflow-y: scroll;
				height: 240px;
			}
			.title {
				height: 24px;
				font-size: 16px;
				text-align: center;
				margin-bottom: 10px;
			}
		}

		.strength,
		.weakness {
			margin-bottom: 16px;
		}
	}
}

.strength {
	h2 {
		color: $strength;
	}
}
.weakness {
	h2 {
		color: $weakness;
	}
}
.opportunity {
	h2 {
		color: $opportunity;
	}
}
.threat {
	h2 {
		color: $threat;
	}
}

.item {
	// border-bottom: 1px solid black;
	margin: 2px 0;
	display: flex;
	align-items: center;
	.text {
		margin-right: 4px;
		min-width: 85%;
		width: 85%;
	}
	svg {
		justify-self: flex-end;
	}
	hr {
		width: 50%;
		text-align: left;
	}
}

.new-form-component {
	position: absolute;
	top: 85%;
	width: 90%;

	button {
		margin: 0 auto;
	}
}
.form-component {
	display: flex;
	margin-top: 16px;
	margin: 0 auto;

	input {
		border: none;
		border-bottom: 2px solid black;
		outline: none;
		width: 75%;
		font-size: 16px;
	}
}
svg {
	margin: 0 4px;
	cursor: pointer;
}

.title > h2 {
	margin: 0;
}

.loading-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #118dd0;
	position: absolute;
	height: 90%;
	width: 100%;
	flex-direction: column;
	p {
		margin-right: 6px;
		font-size: 18px;
		font-weight: bolder;
		letter-spacing: 1px;
		line-height: 1.25;
	}
}
