@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

header {
	height: 56px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	box-shadow: 1px 4px 8px gray;
}

.right-navigation {
	display: flex;
	justify-content: space-evenly;
	:first-child {
		margin: 0 10px;
	}
	:last-child {
		margin-right: 10px;
	}
}

.logo {
	font-size: 32px;
	font-weight: 700;
	font-family: 'Acme', sans-serif;
	padding-left: 10px;
}
