@import '../../styles/colors.scss';
header {
	height: 56px;
	width: calc(100% - 18px);
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
	box-shadow: 1px 4px 11px gray;
	border: 1px solid black;
	padding: 6px 8px;
}

.right-navigation {
	display: flex;
	justify-content: space-evenly;
	:first-child {
		margin: 0 10px;
	}
	:last-child {
		margin-right: 10px;
	}
}

.logo {
	font-size: 32px;
	font-weight: 700;
	font-family: 'Acme', sans-serif;
	padding-left: 10px;
	letter-spacing: 2px;
	.strength {
		color: $strength;
	}
	.weakness {
		color: $weakness;
	}
	.opportunity {
		color: $opportunity;
	}
	.threat {
		color: $threat;
	}
}
